.logo{
    width: 40px;
    height: 40px;
}

.lineaAcoplado{
    width: 100%;
    margin-top: 50px;
}

.logoAspecto{
    border-radius: 50px;
}

.imgBootstrap{
    width: 36vw;
    height: 16vw;
    border-radius: 10px;
}

.imagenFin{
    width: 15vw;
    height: 11vw;
}