.boton1{
    background-color: $color1;
    color: white;
}

.boton2{
    background-color: white;
    color: black;    
}

.sombreado{
    background-color: $color3;
}

.bordesRedondeados{
    border-radius: 10px;
}